<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP APP | Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>    
<body>

<h1> NLP App</h1>

<h3>Login Here</h3>

{% if message%}
<p>{{message}}</p>

{% endif %}

<P></P>
<form action = "/perform_login" method="post">
    <label>Email</label><br>
    <input type="email" name="User_email" ><br>

    <label>Password</label><br>
    <input type="password" name="User_password" ><br>
    <br>

    <input type="submit" value="Login" ><br>


</form>


<p>Not a Member? <a href="/register" > Register Here</p>

</body>
</html>